:root {
	--inner-cell-border-width: 2px;
	--inner-cell-border: var(--inner-cell-border-width) dashed #bdb09b;
	--inner-cell-border-length: 100%;
}

html {
	font-family: 'Carter One', cursive;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: #7d653e;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	margin: 0;
}

#game {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	flex-direction: column;
}

/* HUD style */
#game-hud {
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}
#game-turn {
  font-size: 3em;
  color: white;
  text-shadow: 2px 4px 0px #0000003b;
  text-align: center;
  /* line-height: 0.85em; */
}
span.small-info {
    font-size: 1.3rem;
    display: block;
    margin-bottom: 6px;
}

/* Basic board style */
.board {
	min-width: 420px;
	min-height: 420px;
	width: 75vw;
	height: 75vw;
	max-width: 800px;
	max-height: 800px;
	border: 10px solid black;
	display: block;
	background-color: black;
	margin-top: 80px;
}

.sub-board {
  display: inline-block;
  height: 100%;
  width: 33.333%;
  border: 3px solid black;
  position: relative;
  background-color: papayawhip;
}
.sub-board.unplayable {
	pointer-events: none;
}
.sub-board.playable {
    background-color: #f9e5b6;
}
.sub-board-selector {
    display: none;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    cursor: pointer;
    transition: all 0.12s ease-out;
}

.sub-board-selector:hover {
    background-color: #ffdb9f78;
}

.sub-board-selector.selectable {
    display: initial;
}

.sub-board.X, .sub-board.O {
  pointer-events: none;
  user-select: none;
  background-color: #dbccb6;
}
.sub-board:after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15vw;
  color: red;
  background-color: #c1ad8cb8;
  pointer-events: none;
  content: "";
  opacity: 0;
  transition: all 0.3s ease-out;
  z-index: 1;
}
.sub-board.X:after {
  content: "X";
  opacity: 0.7;
}
.sub-board.O:after {
  content: "O";
  opacity: 0.7;
}

.row {
	height: calc(100% / 3);
	position: relative;
	z-index: 1;
}

.cell {
	height: 100%;
	width: calc(100% / 3);
	position: relative;
	display: inline-flex;
	font-size: 4.5vw;
	color: #6f6453;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.12s ease-out;
	border: 1px solid #cab593;
}

.cell.X:before {
	content: "X";
	position: absolute;
	pointer-events: none;
}

.cell.O:before {
	content: "O";
	position: absolute;
	pointer-events: none;
}

.cell:after {
	user-select: none;
	pointer-events: none;
	content: "";
	position: absolute;
	box-sizing: border-box;
	z-index: 1;
}

/* Actionables */
.cell:not(.X, .O):hover {
  /*! background-color: #e8d9c2; */
  box-shadow: inset 0px 0px 25px #a2885f7a;
  cursor: pointer;
  /*! background-color: #ffe5c3; */
}
.cell.X, .cell.O {
  background-color: #eedfc6;
}